/gEngine/pyds/build/
/gEngine/pyds/cy_light_mask.c
/content/items/ideas for the game since i cant talk to you.txt
/content/items/templist.txt
/Thumbs.db
/logs/
/debug/
/debug/
/dist/
/build/
/core.spec
/setup.bat
/DIST_FOLDERS/
